<footer class="mastfoot mt-auto pl-5 pr-5 pt-5">
  <div class="row">
    <div class="col-12 col-md-2 text-center text-md-left pb-4 pb-md-0">
      <img class="mb-2" src="{{ "/assets/motis1.svg" | relative_url }}" alt=""
        width="40" height="40">
      <small class="d-block mb-3 text-muted">&copy; 2020</small>
      <a href="https://www.tu-darmstadt.de/impressum">Imprint</a>
    </div>
    <div class="col-6 col-md-3">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted"
            href="{% link features/routing.html %}">Intermodal Routing</a></li>
        <li><a class="text-muted" href="{% link features/realtime.html %}">Real
            Time Support</a></li>
        <li><a class="text-muted"
            href="{% link features/railviz.html %}">Visualization</a></li>
        <li><a class="text-muted"
            href="{% link features/autocomplete.html %}">Autocomplete</a></li>
      </ul>
    </div>
    <div class="col-6 col-md-2">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted"
            href="{% link publications.html %}">Publications</a></li>
        <li><a class="text-muted" href="{% link api/index.html %}">JSON API</a>
        </li>
      </ul>
    </div>

    <div class="col-md-3">
      <h5>About</h5>
      <p class="text-muted" style="margin-bottom: 0.3rem">
        MOTIS Project was founded at the
        <a href="https://www.algo.informatik.tu-darmstadt.de/"
          target="_blank">Technical University of Darmstadt</a>
        in cooperation with <a
          href="https://www1.deutschebahn.com/innovationsallianz"
          target="_blank">Deutsche
          Bahn</a>.
      </p>
      <p class="text-muted">Supported by <a href="https://datagon.de/">datagon
          GmbH</a>.</p>
    </div>

    <div class="col-md-2">
      <!-- <h5>Demo App</h5> -->
      <a
        href="https://play.google.com/store/apps/details?id=de.motis_project.app2">
        <img width="100%"
          src="{{ "/assets/google-play-badge.png" | relative_url }}" />
      </a>
    </div>
</footer>