<header
  class="masthead pr-5 pl-5 pt-4 pb-4 mb-2 d-flex flex-wrap justify-content-center align-content-center">
  <a href="{% link index.html %}">
    <img src="{{ "/assets/motis2.svg" | relative_url }}" width="96" height="96" />
  </a>
  <h1 class="pl-sm-3 mt-auto mb-auto"><a href="{% link index.html %}">MOTIS Project</a></h1>

  <a class="github mt-3 mt-sm-auto mb-sm-auto ml-sm-5"
    href="https://github.com/motis-project/motis">
    GitHub
    <img class="ml-1 p-1" src="{{ "/assets/github.svg" | relative_url }}" alt=""
      width="32" height="32" />
  </a>
</header>
