<header class="masthead mb-auto text-center">
  <div class="inner">
    <h3 class="masthead-brand mb-2">MOTIS Project</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" href="#">About</a>
      <a class="nav-link" href="#">API</a>
      <a class="nav-link" href="#">Screenshots</a>
      <a class="nav-link" href="#">Demo</a>
      <a class="github nav-icon ml-5 mr-3" href="https://github.com/motis-project/motis">
        <span style="position: relative; top: 1px;">Open Source</span> <img class="ml-1 p-1" src="{{ "/assets/github.svg" | relative_url }}" alt="" width="32" height="32" /></a>
    </nav>
  </div>
</header>