<header class="masthead mb-auto d-flex flex-wrap justify-content-center align-content-center">
  <img src="{{ "/assets/motis1.svg" | relative_url }}" width="96" />
  <h1 class="ml-2">MOTIS Project</h1>

  <nav class="nav nav-masthead ml-auto d-flex align-content-center flex-wrap">
    <a class="nav-link active" href="#">About</a>
    <a class="nav-link" href="#">API</a>
    <a class="nav-link" href="#">Screenshots</a>
    <a class="nav-link" href="#">Demo</a>
    <a class="github nav-icon ml-5" href="https://github.com/motis-project/motis">
      <span style="position: relative; top: 1px;">Open Source</span> <img class="ml-1 p-1"
        src="{{ "/assets/github.svg" | relative_url }}" alt="" width="32" height="32" />
    </a>
  </nav>
</header>