@font-face{
  font-family: 'JetBrains Mono';
  src: url('/assets/jetbrains-mono/JetBrainsMono-Regular.eot') format('embedded-opentype'),
       url('/assets/jetbrains-mono/JetBrainsMono-Regular.woff2') format('woff2'),
       url('/assets/jetbrains-mono/JetBrainsMono-Regular.woff') format('woff'),
       url('/assets/jetbrains-mono/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  hyphens: auto;
}

code, pre {
  hyphens: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Ubuntu", sans-serif;
  font-weight: 700;
  line-height: 40px;
}


.mastfoot {
  border-top: .05rem solid #999;
  position: relative;
  top: .5em;
  padding-bottom: 2em;
}

/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */
body {
  display: -ms-flexbox;
  display: flex;
  background-color: #F3F3F3;
}

.card-footer {
  background: #24292e;
  border-top: none;
  padding: 0.75rem 1.25rem .75rem 1.25rem;
}

.card-footer a {
  margin-left: 5%;
  font-weight: bold;
}

.card-footer a:hover {
  color: white;
}

.card-footer a:first-child {
  margin-left: 0;
}

.card-title {
  border-radius: 4px;
}

.card {
  border: none;
  box-shadow: 0 .5px 3px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
}

.badge-primary,.btn-primary {
  background-color: rgba(255, 30, 86, 1);
}
.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
  background-color: rgba(255, 30, 86, 1);
}
a {
  color: rgba(255, 30, 86, 1);
}
.bar {
  background: rgba(255, 30, 86, 1);
}

.cover-container {
  max-width: 96rem;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

/*
 * Header
 */
.masthead {
  margin-top: 1.8rem;
  margin-bottom: 2rem;
  background: #24292e;
}


@media (max-width: 96rem) {
  .masthead {
    margin-top: 0;
  }
}

.masthead h1 {
  font-size: 2em;
}

.masthead h1 a {
  text-decoration: none;
  color: #fff;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .9);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1.5rem;
}

.nav-masthead .active {
  border-bottom-color: #fff;
}

.github {
  font-size: 80%;
  border-radius: 35px;
  padding: 5px 8px 5px 12px;
  border-color: rgba(255, 30, 86, 1);
  border-width: 2px;
  border-style: solid;
  color: rgba(255, 30, 86, 1);
  font-weight: 700;
  text-transform: uppercase;
}

.github:focus, .github:hover {
  text-decoration: none;
  color: rgba(255, 30, 86, 0.8);
  border-color: rgba(255, 30, 86, 0.8);
}

.content {
  padding-bottom: 10rem;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.slogan {
  position: relative;
  top: 30%;
  padding: 0 1em;
}

.logo-box {
  text-align: center;
  margin-bottom: 3em;
}

@media (min-width: 1024px) {
  .logo-box {
    margin-bottom: -32px;
  }
  .slogan {
    text-shadow: white 0px 0px 4px;
    left: 7%;
    width: 43%;
  }
  .map {
    background: url('/assets/map.png');
    height: 520px;
    width: 70%;
    box-shadow: inset 0 0 7em 7em white;
    width: 100%;
    background-repeat: no-repeat;
  }
}


@media (max-width: 1024px) {
  .slogan {
    margin: 3em 0;
  }
}

.slogan h2 {
  font-weight: 200;
  font-size: 1.8em;
}

/*
 * API
 */
 @media (min-width: 1200px) {
  .sidebar {
    min-height: calc(100vh - 20rem);
    border-right: 1px solid #dadada;
    padding-top: 2em;
  }
}

.sidebar h5 {
  color: rgb(42, 47, 69);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 80%;
}

.sidebar ul {
  font-weight: 500;
  list-style: none;
  padding-left: 0;
}

.sidebar a {
  color: rgb(105, 115, 134);
}

.sidebar a:hover {
  text-decoration: none;
  color: rgb(79, 86, 107);
}

.sidebar ul {
  line-height: 30px;
}

.api-content {
  font-size: 95%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .api-content {
    max-width: 50%;
  }
}

.api-content h3 {
  padding-bottom: 0.2rem;
  font-size: 98%;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 1em;
}

.api-content h2 {
  font-size: 110%;
}

.api-content h5 {
  font-size: 105%;
  color: #6c757d;
  margin-bottom: 0;
  line-height: 2.5em;
}

.api-content h5 .param {
  font-family: 'JetBrains Mono', Menlo, Consolas, monospace;
  font-weight: bold;
  color: rgb(33, 37, 41);
}

.api-content h2 {
  margin-top: 1.5em;
}

.api-content p {
  margin-bottom: 0;
}

.api-content p + p {
  margin-top: 1.4em;
}

.api-content > ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1em;
}

.api-content > ul > li:first-child {
  border-top: 1px solid #e3e8ee;
  margin-top: 2em;
}

.api-content > ul > li:last-child {
  margin-bottom: 3em;
}

.api-content > ul > li {
  padding-top: 16px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e3e8ee;
}

.api-content > ul > li > ul {
  margin-top: 0.5em;
}

.api-content > ul > li h5 {
  font-size: 85%;
}

.post ul {
  margin-top: 1em;
}

.post ul > li > ul {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

@media (min-width: 768px) {
  .post-content {
    max-width: 56rem;
  }
  .postlist-content {
    max-width: 45rem;
  }
}
.date {
  font-size: 15px;
  line-height: 28px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: rgb(36, 41, 46, 0.8);
}
.share {
  color: rgb(42, 47, 69);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 80%;
}
.social-links a {
  margin: 0 7px;
}
.twitter svg, .linkedin svg, .facebook svg {
  fill: rgb(36, 41, 46, 0.8);
  transition: fill .5s;
}
.twitter svg:hover, .twitter-head svg {
  fill: #33CCFF;
}
.linkedin svg:hover {
  fill: #4875B4;
}
.facebook svg:hover {
  fill: #3B5998;
}
.code-example {
  color: rgb(79, 86, 107);
  font-size: 15px;
  background: #fdfdfd;
}

.code-example-body {
  padding: 2rem;
  border-radius: 0 0 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
  background: #110b1c;
}

.code-example-body:has(img) {
  background: #fdfdfd;
}

.code-example-body, .code-example-body code, .CodeMirror-code, .CodeMirror-line {
  font-family: 'JetBrains Mono', Menlo, Consolas, monospace !important;
}

.CodeMirror-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.code-example-head {
  background-color: #fafafa;
  letter-spacing: .01em;
  text-transform: uppercase;
  color: rgb(105, 115, 134);
  padding: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
}

:root {
  --logo-color-orange: #ffac41;
  --logo-color-pink: #ff1e56;
  --logo-color-blue: #1089ff;
  --logo-color-purple: #7f2aff;
}

figure, pre {
  margin: 0;
}

.example-code {
  display: none;
}

/*
 * CODE HIGHLIGHT
 */
.highlight, pre, code { color: #e83e8c; }
.highlight .hll { background-color: #272822; }
.highlight .c { color: #b0a882 } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #b0a882 } /* Comment.Multiline */
.highlight .cp { color: #b0a882 } /* Comment.Preproc */
.highlight .c1 { color: #b0a882 } /* Comment.Single */
.highlight .cs { color: #b0a882 } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #b0a882; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
