@font-face{
  font-family: 'JetBrains Mono';
  src: url('jetbrains-mono/JetBrainsMono-Regular.eot') format('embedded-opentype'),
       url('jetbrains-mono/JetBrainsMono-Regular.woff2') format('woff2'),
       url('jetbrains-mono/JetBrainsMono-Regular.woff') format('woff'),
       url('jetbrains-mono/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  hyphens: auto;
}

code, pre {
  hyphens: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Ubuntu", sans-serif;
  font-weight: 500;
  line-height: 40px;
}

.logo-box {
  margin-bottom: -32px;
  text-align: center;
}

.mastfoot {
  border-top: .05rem solid #999;
  position: relative;
  top: .5em;
  padding-bottom: 2em;
}

/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */
body {
  display: -ms-flexbox;
  display: flex;
  background-color: #F3F3F3;
}

.card-footer {
  background: #24292e;
  border-top: none;
  padding: 0.75rem 1.25rem .75rem 1.25rem;
}

.card-footer a {
  margin-left: 3em;
  font-weight: bold;
}

.card-title {
  border-radius: 4px;
}

.card {
  border: none;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.badge-primary,.btn-primary {
  background-color: rgba(255, 30, 86, 1);
}
.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
  background-color: rgba(255, 30, 86, 1);
}
a {
  color: rgba(255, 30, 86, 1);
}
.bar {
  background: rgba(255, 30, 86, 1);
}

.cover-container {
  max-width: 96rem;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*
 * Header
 */
.masthead {
  margin-top: 1.8rem;
  margin-bottom: 2rem;
  background: #24292e;
}


@media (max-width: 96rem) {
  .masthead {
    margin-top: 0;
  }
}

.masthead h1 {
  font-size: 2em;
}

.masthead h1 a {
  text-decoration: none;
  color: #fff;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .9);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1.5rem;
}

.nav-masthead .active {
  border-bottom-color: #fff;
}

.github {
  font-size: 80%;
  border-radius: 35px;
  padding: 5px 8px 5px 12px;
  border-color: rgba(255, 30, 86, 1);
  border-width: 2px;
  border-style: solid;
  color: rgba(255, 30, 86, 1);
  font-weight: 700;
  text-transform: uppercase;
}

.github:focus, .github:hover {
  text-decoration: none;
  color: rgba(255, 30, 86, 0.8);
  border-color: rgba(255, 30, 86, 0.8);
}

.content {
  padding-bottom: 10rem;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.slogan {
  position: relative;
  top: 35%;
}

@media (min-width: 1024px) {
  .slogan {
    text-shadow: white 0px 0px 4px;
    left: 54%;
    width: 41%;
  }
  .map {
    background: url('/assets/map.png');
    height: 520px;
    width: 70%;
    box-shadow: inset 0 0 7em 7em white;
    width: 100%;
    background-position: 40% 55%;
    background-repeat: no-repeat;
  }
}


@media (max-width: 1024px) {
  .slogan {
    margin: 3em 0;
  }
}

.slogan h2 {
  font-weight: 200;
  font-size: 1.8em;
}


/*
 * API
 */
 @media (min-width: 1200px) {
  .sidebar {
    min-height: calc(100vh - 20rem);
    border-right: 1px solid #dadada;
  }
}

.sidebar h5 {
  color: rgb(42, 47, 69);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 80%;
}

.sidebar ul {
  font-weight: 500;
  list-style: none;
  padding-left: 0;
}

.sidebar a {
  color: rgb(105, 115, 134);
}

.sidebar a:hover {
  text-decoration: none;
  color: rgb(79, 86, 107);
}

.sidebar ul {
  line-height: 30px;
}

.api-content {
  font-size: 95%;
}

.api-content h3 {
  padding-bottom: 0.2rem;
  font-size: 98%;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 1em;
}

.api-content h2 {
  font-size: 110%;
}

.api-content h5 {
  font-size: 105%;
  color: #6c757d;
  margin-bottom: 0;
  line-height: 2.5em;
}

.api-content h5 .param {
  font-family: 'JetBrains Mono', Menlo,Consolas, monospace;
  font-weight: bold;
  color: rgb(33, 37, 41);
}

.api-content h2 {
  margin-top: 1.5em;
}

.api-content p {
  margin-bottom: 0;
}

.api-content p + p {
  margin-top: 0.4em;
}

.api-content > ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1em;
}

.api-content > ul > li:first-child {
  border-top: 1px solid #e3e8ee;
  margin-top: 2em;
}

.api-content > ul > li:last-child {
  margin-bottom: 3em;
}

.api-content > ul > li {
  padding-top: 16px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e3e8ee;
}

.api-content > ul > li > ul {
  margin-top: 0.5em;
}

.api-content > ul > li h5 {
  font-size: 85%;
}

.code-example {
  color: rgb(79, 86, 107);
  font-size: 15px;
  background: #fdfdfd;
}

.code-example-body {
  padding: 1rem;
  border-radius: 0 0 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
}

.code-example-body, .code-example-body code, .CodeMirror-code, .CodeMirror-line {
  font-family: 'JetBrains Mono', Menlo,Consolas, monospace !important;
}

.CodeMirror-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.code-example-head {
  background-color: #fafafa;
  letter-spacing: .01em;
  text-transform: uppercase;
  color: rgb(105, 115, 134);
  padding: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
}

:root {
  --logo-color-orange: #ffac41;
  --logo-color-pink: #ff1e56;
  --logo-color-blue: #1089ff;
  --logo-color-purple: #7f2aff;
}

figure, pre {
  margin: 0;
}

.example-code {
  display: none;
}

/*
 * CODE HIGHLIGHT
 */
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #000000; font-weight: bold } /* Keyword */
.highlight .o { color: #000000; } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #219; } /* Keyword.Constant */
.highlight .kd { color: #000000; } /* Keyword.Declaration */
.highlight .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d01040 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nl { color: var(--logo-color-blue); } /* Name.Label */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: var(--logo-color-purple) } /* Literal.Number.Float */
.highlight .mh { color: var(--logo-color-purple) } /* Literal.Number.Hex */
.highlight .mi { color: var(--logo-color-purple) } /* Literal.Number.Integer */
.highlight .mo { color: var(--logo-color-purple) } /* Literal.Number.Oct */
.highlight .sb { color: var(--logo-color-pink) } /* Literal.String.Backtick */
.highlight .sc { color: var(--logo-color-pink) } /* Literal.String.Char */
.highlight .sd { color: var(--logo-color-pink) } /* Literal.String.Doc */
.highlight .s2 { color: var(--logo-color-pink) } /* Literal.String.Double */
.highlight .se { } /* Literal.String.Escape */
.highlight .sh { color: var(--logo-color-pink) } /* Literal.String.Heredoc */
.highlight .si { color: var(--logo-color-pink) } /* Literal.String.Interpol */
.highlight .sx { color: var(--logo-color-pink) } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: var(--logo-color-pink) } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
.highlight .p { color: #a3acb9; }