---
layout: default
---

<div class="row">
  <div class="col-xl-2 sidebar">
    <h5 class="mt-xl-4">Installation</h5>
    <ul>
      <li><a href="{% link docs/install.md %}#windows-installation-guide">Windows</a></li>
      <li><a href="{% link docs/install.md %}#linux-installation-guide">Linux</a></li>
    </ul>

    <h5 class="mt-xl-4">Building Blocks</h5>
    <ul>
      <li><a href="{% link docs/api/buildingblocks.md %}#input-station">Input Station</a></li>
      <li><a href="{% link docs/api/buildingblocks.md %}#position">Position</a></li>
      <li><a href="{% link docs/api/buildingblocks.md %}#interval">Interval</a></li>
      <li><a href="{% link docs/api/buildingblocks.md %}#trip-id">Trip ID</a></li>
      <li><a href="{% link docs/api/buildingblocks.md %}#ppr-search-profile">PPR Search Profile</a></li>
      <li><a href="{% link docs/api/connection.md %}">Connection</a></li>
    </ul>

    <h5 class="mt-xl-5">API Endpoints</h5>
    <ul>
      <li><a href="{% link docs/api/intermodal.md %}">Intermodal Routing</a></li>
      <li><a href="{% link docs/api/guesser.md %}">Station Autocomplete</a></li>
      <li><a href="{% link docs/api/address.md %}">Address Autocomplete</a></li>
    </ul>

    <h5 class="mt-xl-4">Publications</h5>
    <ul>
      <li><a href="{% link docs/publications.md %}">List of Publications</a></li>
    </ul>
  </div>

  <div class="col-xl pr-xl-5 pl-xl-5 pb-5 api-content">
    {{ content }}
  </div>

  {% if page.code %}
  <div class="col-xl-5" style="max-width: 32rem;">
    <ul>
    {% for c in site.data[page.code] %}
      <div class="code-example mt-4">
        <div class="code-example-head">
          {{ c.title }}
        </div>
        <div class="code-example-body code-example-query">
          {% if c.language == 'bash' %}
          {% highlight bash %}{% include {{ c.file }} %}{% endhighlight %}
          {% elsif c.language == 'bat' %}
          {% highlight batch %}{% include {{ c.file }} %}{% endhighlight %}
          {% elsif c.language == 'json' %}
          {% highlight json %}{% include {{ c.file }} %}{% endhighlight %}
          {% else %}
          {% highlight plaintext %}{% include {{ c.file }} %}{% endhighlight %}
          {% endif %}
        </div>
      </div>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>