---
layout: default
---

<div class="row">
  <div class="col-xl-2 sidebar">

    <input id="docsearch" />
    <script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
    <script>
      docsearch({
        appId: 'A9LOFQMRFZ',
        apiKey: '570ab1b39c37442661288a8e887fbee4',
        indexName: 'motis-project.de',
        inputSelector: '#docsearch',
        enhancedSearchInput: true,
        debug: false
      });
    </script>

    <h5 class="mt-xl-4 {% if page.url contains 'install' %}active{% endif %}">Installation</h5>
    <ul>
      <li><a href="{% link docs/install.md %}#windows-installation-guide">Windows</a></li>
      <li><a href="{% link docs/install.md %}#linux-installation-guide">Linux</a></li>
    </ul>

    <h5 class="mt-xl-4 {% if page.url contains 'features' %}active{% endif %}">Features</h5>
    <ul>
      <li><a href="{% link docs/features/routing.md %}#intermodal-and-timetable-routing-from-door-to-door">Intermodal Routing</a></li>
      <li><a href="{% link docs/features/realtime.md %}#real-time-support">Real Time Support</a></li>
      <li><a href="{% link docs/features/autocomplete.md %}#autocompletion-of-addresses-and-station-names">Autocomplete</a></li>
    </ul>

    <h5 class="mt-xl-4 {% if page.url contains 'buildingblocks' or page.url contains 'connection' %}active{% endif %}">Building Blocks</h5>
    <ul>
      <li><a href="{% link docs/api/buildingblocks.md %}#input-station">Input Station</a></li>
      <li><a href="{% link docs/api/buildingblocks.md %}#position">Position</a></li>
      <li><a href="{% link docs/api/buildingblocks.md %}#interval">Interval</a></li>
      <li><a href="{% link docs/api/buildingblocks.md %}#trip-id">Trip ID</a></li>
      <li><a href="{% link docs/api/buildingblocks.md %}#ppr-search-profile">PPR Search Profile</a></li>
      <li><a href="{% link docs/api/connection.md %}#connection">Connection</a></li>
    </ul>

    <h5 class="mt-xl-4 {% if page.url contains 'endpoint' %}active{% endif %}">API Endpoints</h5>
    <ul>
      <li><a href="{% link docs/api/endpoint/intermodal.md %}#intermodal-routing-request">Intermodal Routing</a></li>
      <li><a href="{% link docs/api/endpoint/guesser.md %}#station-autocompletion-based-on-timetable-data">Station Autocomplete</a></li>
      <li><a href="{% link docs/api/endpoint/address.md %}#address-autocompletion-based-on-openstreetmap-data">Address Autocomplete</a></li>
      <li><a href="{% link docs/api/endpoint/ppr.md %}#pedestrian-routing-request">Pedestrian Routing</a></li>
    </ul>

    <h5 class="mt-xl-4 {% if page.url contains 'publications' %}active{% endif %}">Publications</h5>
    <ul>
      <li><a href="{% link docs/publications.md %}#publications">List of Publications</a></li>
    </ul>
  </div>

  <div class="col-xl pr-xl-5 pl-xl-5 pb-0 pb-xl-5 api-content">
    {{ content }}
  </div>

  {% if page.code %}
  <div class="col-xl-4 pb-3 pb-xl-0">
    {% for c in site.data[page.code] %}
      <div class="code-example mt-4">
        <div class="code-example-head">
          {{ c.title }}
        </div>
        <div class="code-example-body code-example-query pb-5 pb-xl-1">
          {% if c.language == 'bash' %}
          {% highlight bash %}{% include {{ c.file }} %}{% endhighlight %}
          {% elsif c.language == 'bat' %}
          {% highlight batch %}{% include {{ c.file }} %}{% endhighlight %}
          {% elsif c.language == 'json' %}
          {% highlight json %}{% include {{ c.file }} %}{% endhighlight %}
          {% elsif c.language == 'image' %}
          <img src="{{ '/assets/' | append: c.file | relative_path }}" style="max-width: 100%"/>
          {% else %}
          {% highlight plaintext %}{% include {{ c.file }} %}{% endhighlight %}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  {% endif %}
</div>