---
layout: default
---

<div class="row">
  <div class="col-xl-2 sidebar">
    <h5 class="mt-xl-4">Building Blocks</h5>
    <ul>
      <li><a href="{% link api/buildingblocks.md %}#input-station">Input Station</a></li>
      <li><a href="{% link api/buildingblocks.md %}#position">Position</a></li>
      <li><a href="{% link api/buildingblocks.md %}#interval">Interval</a></li>
      <li><a href="{% link api/buildingblocks.md %}#trip-id">Trip ID</a></li>
      <li><a href="{% link api/buildingblocks.md %}#ppr-search-profile">PPR Search Profile</a></li>
    </ul>

    <h5 class="mt-xl-5">API Endpoints</h5>
    <ul>
      <li><a href="{% link api/intermodal.md %}">Intermodal Routing</a></li>
      <li><a href="{% link api/routing.md %}">Timetable Routing</a></li>
      <li><a href="#">Station Autocomplete</a></li>
      <li><a href="#">Address Autocomplete</a></li>
      <li><a href="#">Vehicle Paths</a></li>
      <li><a href="#">Car Routing</a></li>
      <li><a href="#">Pedestrian Routing</a></li>
      <li><a href="#">Timetable Lookup</a></li>
      <li><a href="#">Timetable Geo (RailViz)</a></li>
    </ul>
  </div>

  <div class="col-xl pr-xl-5 pl-xl-5 pb-5 api-content">
    {{ content }}
  </div>

  <div class="col-xl-5" style="max-width: 32rem;">
    {% if page.example %}
    <div class="code-example mt-4">
      <div class="code-example-head">
        example
      </div>
      <div class="code-example-body code-example-query">
        <!--<noscript>-->
          {% highlight bash %}{% include {{ page.example }} %}{% endhighlight %}
          <!--
        </noscript>
        <textarea class="example-code">{% include  {{ page.example }} %}</textarea>-->
      </div>
    </div>
    {% endif %}

    {% if page.request %}
    <div class="code-example mt-4">
      <div class="code-example-head">
        Request
      </div>
      <div class="code-example-body code-example-query">
        <!--<noscript>-->
          {% highlight json %}{% include {{ page.request }} %}{% endhighlight %}
          <!--
        </noscript>
        <textarea class="example-code">{% include  {{ page.request }} %}</textarea>-->
      </div>
    </div>
    {% endif %}

    {% if page.response %}
    <div class="code-example mt-4">
      <div class="code-example-head">Response</div>
      <div class="code-example-body code-example-query">
        <!--<noscript>-->
          {% highlight json %}{% include {{ page.response }} %}{% endhighlight %}
          <!--
        </noscript>
        <textarea class="example-code">{% include  {{ page.response }} %}</textarea>-->
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% if false %}
<link rel="stylesheet" href=" {{ "/assets/codemirror/codemirror.css" | relative_url }} ">
<link rel="stylesheet" href=" {{ "/assets/codemirror/foldgutter.css" | relative_url }} ">
<script src=" {{ "/assets/codemirror/codemirror.js" | relative_url }} "></script>
<script src=" {{ "/assets/codemirror/foldcode.js" | relative_url }} "></script>
<script src=" {{ "/assets/codemirror/javascript.js" | relative_url }} "></script>
<script src=" {{ "/assets/codemirror/foldgutter.js" | relative_url }} "></script>
<script src=" {{ "/assets/codemirror/brace-fold.js" | relative_url }} "></script>
<script src=" {{ "/assets/codemirror/comment-fold.js" | relative_url }} "></script>
<script src=" {{ "/assets/codemirror/indent-fold.js" | relative_url }} "></script>
<script>
  var codes = document.getElementsByClassName("example-code");
  for (var i = 0; i < codes.length; ++i) {
    var cm = CodeMirror.fromTextArea(codes[i], {
      lineNumbers: false,
      mode: { name: "javascript", json: true },
      lineWrapping: false,
      foldGutter: true,
      gutters: ["CodeMirror-foldgutter"],
      minFoldSize: 2
    });
    CodeMirror.commands.foldAll(cm);
    // CodeMirror.commands.unfold(cm, 1);
    cm.operation(function() {
      for (var l = cm.firstLine(); l <= cm.lastLine(); ++l)
        cm.foldCode({line: l, ch: 0}, null, "unfold");
    });
  }
</script>
{% endif %}